.paragraph3{
	color: yellow;
}

*{ 
	font-family: 'Roboto', sans-serif;
	

}

h1{
	font-size: 70px;



}

#headline2{
	text-transform: uppercase;
}

.languages{
	background-color: #AAD9C3;
}

li[name] {
	border-width: 2px;
	border-style: solid;
	border-color:#B4DEE8;
}

img + ul{
	list-style-type: none;
}

#sample img{
	height: 100px;
	width: 100px;
	border-radius: 50px;
}

ul ~ p{
	text-align: center;
}

#sample1 > li{
	letter-spacing: 8px;
